*{ 
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
 }

 html, body {
     background: #222;
 }

 .draggable {
     width: 150px;
     height: 3em;
     padding: 5px;
     border-radius: 5px;
     background: #585858;
     border: 1px solid #f551f5;
     margin: 1em;
     display: block;
     position: absolute;
 }

 .draggable:hover {
     background: red;

 }

 h1 {
     text-align: center;
     margin-top: 3em;
 }
